ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
CODE_SIGN_ENTITLEMENTS = iOS/env/$(ENV_NAME)/iOS.entitlements
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 4NV8KK5CH4
ENABLE_PREVIEWS = YES
INFOPLIST_FILE = iOS/env/$(ENV_NAME)/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.mt-hodaka.$(TARGET_NAME)
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
