<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353335889540-s5hi7a1mhjbjgs57tievt7narc9c0crp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353335889540-s5hi7a1mhjbjgs57tievt7narc9c0crp</string>
	<key>API_KEY</key>
	<string>AIzaSyDOxUnjhHq5UZ3OvZB7zKW1Ket77g_Kd50</string>
	<key>GCM_SENDER_ID</key>
	<string>353335889540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mt-hodaka.ios-app-template.stg</string>
	<key>PROJECT_ID</key>
	<string>ios-app-template-31dca</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-app-template-31dca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353335889540:ios:773179977ee92eee383cd1</string>
</dict>
</plist>